<ion-header [translucent]="true">
  <ion-toolbar color="warning" >
    <ion-title>
         BMI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 <div class="ion-text-center" >
  <img src="../../assets/we.png" style="width: 200px; height: auto;">
</div>
 <ion-card color="success" class="ion-padding" shape="round">

  <ion-item>
    <ion-input label="น้ำหนัก" placeholder="KG" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input  label="ส่วนสูง" placeholder="CM" type="number"></ion-input>
  </ion-item>



<!-- <ion-card color="danger" class="ion-padding">
    <ion-input label="ชื่อของภาพ"  color="danger" style="color: black;"></ion-input>
    <ion-input label="ชื่อของภาพ"  color="danger" style="color: black;"></ion-input>
  </ion-card>  -->
  <br>
  <div class="ion-text-center">
  </div>
  <ion-button size="large" expand="block" shape="round" color="danger">
    คำนวน
  </ion-button>
 </ion-card>


 <ion-card class="ion-text-center" color="tertiary">
  <ion-card-header>
   <ion-card-subtitle>ผลลัพธ์ </ion-card-subtitle>
   <ion-card-title>18.5</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card class="ion-text-center" color="tertiary">
  <ion-card-header>
   <ion-card-subtitle> แปรผล </ion-card-subtitle>
   <ion-card-title>อยู่ในเกณฑ์ปกติ</ion-card-title>
  </ion-card-header>
</ion-card>
<!-- <ion-card color="tertiary" class="ion-text-center ion-padding" >
  แปรผล
</ion-card> -->

</ion-content>
